<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/_userbase}">
<body id="page-top">
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="imageUploads/breadcrumb.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>Blog</h2>
							<div class="breadcrumb__option">
								<a th:href="@{/}">Home</a> <span>Blog</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Blog Section Begin -->
		<section class="blog spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-5">
						<div class="blog__sidebar">
							<!-- <div class="blog__sidebar__search">
								<form action="#">
									<input type="text" placeholder="Tìm kiếm...">
									<button type="submit">
										<span class="icon_search"></span>
									</button>
								</form>
							</div> -->

							<div class="blog__sidebar__item">
								<h4>Tin nổi bật</h4>
								<div class="blog__sidebar__recent">
									<div th:each="i :${blogtop}">
										<a th:href="@{${'/bai-viet?id=' + i.id}}"
											class="blog__sidebar__recent__item">
											<div class="blog__sidebar__recent__item__pic col-4">
												<img th:src="@{${'/imageUploads/' + i.image}}" alt="">
											</div>
											<div class="blog__sidebar__recent__item__text">
												<h6 th:text="${i.title}"></h6>
												<span th:text="${i.create_at}"></span>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="blog__sidebar__item">
								<h4>Sản phẩm nổi bật</h4>
								<div id="owl-carousel" class="owl-carousel owl-theme">
									<div class="top-featured" th:each="i: ${topfeatured}">
										<div class="featured__item">
											<div>
												<img th:src="@{${'imageUploads/' + i.pimage}}">
												<ul class="featured__item__pic__hover">
													<li><a href="#"><i class="fa fa-heart"></i></a></li>
													<li><a
														th:href="@{${'/chi-tiet-san-pham?productid=' + i.id + '&categoryid=' + i.category.id}}"><i
															class="fa fa-eye"></i></a></li>
													<li><a th:attr="onclick=|addToCart('${i.id}')|"><i
															class="fa fa-shopping-cart"></i></a></li>
												</ul>
											</div>
											<div class="featured__item__text">
												<h6>
													<a
														th:href="@{${'/chi-tiet-san-pham?productid=' + i.id + '&categoryid=' + i.category.id}}"
														th:text="${i.name}"></a>
												</h6>
												<h5>
													<span
														th:text="${#numbers.formatDecimal(i.price, 0, 'COMMA', 0, 'POINT')}"></span>
													đ
												</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-7">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-6" th:each="i : ${listblog}">
								<div class="blog__item">
									<div class="blog__item__pic">
										<img th:src="@{${'/imageUploads/' + i.image}}" alt="">
									</div>
									<div class="blog__item__text">
										<ul>
											<li><i class="fa fa-calendar-o"></i> <span th:text="${i.create_at}"></span></li>
											<li><i class="fa fa-comment-o"></i> 5</li>
										</ul>
										<h5>
											<a th:href="@{${'/bai-viet?id=' + i.id}}" th:text="${i.title}"></a>
										</h5>
										<p th:utext="${i.description}"></p>
										<a th:href="@{${'/bai-viet?id=' + i.id}}" class="blog__btn">Đọc thêm <span
											class="arrow_right"></span></a>
									</div>
								</div>
							</div>
							<div class="col-lg-12 row">
								<div class="product__pagination pl-2"
									th:each="i : ${#numbers.sequence( 1, #lists.size(listblogAll)/6	 + 1 , 1)}">
									<a th:href="@{${'/blog?page=' + i}}" th:text="${i}">1</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Blog Section End -->
	</div>
</body>
</html>