<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/_userbase}">
<body id="page-top">
	<div layout:fragment="content">
		<!-- Breadcrumb Section Begin -->
		<section class="breadcrumb-section set-bg"
			data-setbg="imageUploads/breadcrumb.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="breadcrumb__text">
							<h2>Giỏ hàng</h2>
							<div class="breadcrumb__option">
								<a th:href="@{/}">Trang chủ</a> <span>Giỏ hàng</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumb Section End -->

		<!-- Shoping Cart Section Begin -->
		<section class="shoping-cart spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__table">
							<table>
								<thead>
									<tr>
										<th class="shoping__product">Products</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Total</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="i : ${listcart}">
										<td class="shoping__cart__item"><img
											th:src="@{${'imageUploads/' + i.product.pimage}}" alt="" width="100px">
											<h5 th:text="${i.product.name}"></h5></td>
										<td class="shoping__cart__price">
											<span th:if="${i.product.price_discount > 0}" th:text="${#numbers.formatDecimal(i.product.price_discount, 0, 'COMMA', 0, 'POINT')}">
											</span>
											<span th:if="${i.product.price_discount <= 0}" th:text="${#numbers.formatDecimal(i.product.price, 0, 'COMMA', 0, 'POINT')}">
											</span>
										</td>
										<td class="shoping__cart__quantity">
											<div class="quantity">
												<div class="pro-qty">
													<input type="text" th:attr="onchange=|updateCart('${i.product.id}')|" th:id="${'_quantityCartItem' + i.product.id}" th:value="${i.quantity}">
												</div>
											</div>
										</td>
										<td class="shoping__cart__total">
											<span th:if="${i.product.price_discount > 0}" th:text="${#numbers.formatDecimal(i.product.price_discount*i.quantity, 0, 'COMMA', 0, 'POINT')}">
											</span>
											<span th:if="${i.product.price_discount <= 0}" th:text="${#numbers.formatDecimal(i.product.price*i.quantity, 0, 'COMMA', 0, 'POINT')}">
											</span>
										</td>
										<td class="shoping__cart__item__close"><span
											class="icon_close" th:attr="onclick=|deleteCart('${i.product.id}')|"></span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="shoping__cart__btns">
							<a th:href="@{/san-pham}" class="primary-btn cart-btn">Tiếp tục mua sắm</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="shoping__continue">
							<div class="shoping__discount">
								<!-- <h5>Discount Codes</h5>
								<form action="#">
									<input type="text" placeholder="Enter your coupon code">
									<button type="submit" class="site-btn">APPLY COUPON</button>
								</form> -->
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="shoping__checkout">
							<h5>Tạm tính</h5>
							<ul>
								<li>Tổng tiền <span id="cart_total" th:text="${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}"></span></li>
							</ul>
							<a th:href="@{/thanh-toan}" class="primary-btn">Thanh toán</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Shoping Cart Section End -->
	</div>
</body>
</html>