<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="Ogani Template">
<meta name="keywords" content="Ogani, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Nông sản việt</title>

<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" th:href="@{asset/users/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/nice-select.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/jquery-ui.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/style.css}" type="text/css">
<link rel="stylesheet" th:href="@{asset/users/css/custom.css}" type="text/css">
</head>
<body>
	<div th:replace="fragments/users/_header :: header"></div>
	<div th:replace="fragments/users/_menu :: menu"></div>
	<div layout:fragment="content"></div>
	<div th:replace="fragments/users/_footer :: footer"></div>
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>
	<!-- Js Plugins -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	<script th:src="@{asset/users/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{asset/users/js/bootstrap.min.js}"></script>
<!--     <script th:src="@{asset/users/js/jquery.nice-select.min.js}"></script> -->
    <script th:src="@{asset/users/js/jquery-ui.min.js}"></script>
    <script th:src="@{asset/users/js/jquery.slicknav.js}"></script>
    <script th:src="@{asset/users/js/mixitup.min.js}"></script>
    <script th:src="@{asset/users/js/owl.carousel.min.js}"></script>
    <script th:src="@{asset/users/js/main.js}"></script>
    <script th:src="@{asset/users/js/custom.js}"></script>
</body>
</html>