<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/_adminbase}">
<body id="page-top">
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<div class="container-fluid">
				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Danh sách loại
							hàng</h6>
						<div class="text-right">
							<a class="btn btn-primary" href="#" data-toggle="modal"
								data-target="#createCategoryModal"><i
								class="fas fa-plus-circle"></i> Thêm</a>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>Số thứ tự</th>
										<th>Hình thức vận chuyển</th>
										<th>Phí vận chuyển</th>
										<th>Thời gian dự kiến</th>
										<th>Edit</th>
										<th>Xóa</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th>Số thứ tự</th>
										<th>Hình thức vận chuyển</th>
										<th>Phí vận chuyển</th>
										<th>Thời gian dự kiến</th>
										<th>Edit</th>
										<th>Xóa</th>
									</tr>
								</tfoot>
								<tbody>

									<tr>
										<td>1</td>
										<td>Giao hàng tiết kiệm</td>
										<td>20</td>
										<td>7 ngày</td>
										<td><a class="btn btn-light" th:href="@{admin-van-chuyen-edit}"><i
												class="far fa-save"></i></a></td>
										<td><a class="btn btn-light" href="#"><i
												class="fas fa-trash-alt"></i></a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="createCategoryModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form>
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Thêm hình
								thức vận chuyển</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">Vui lòng điền đầy đủ thông tin, sau
							đó nhấn thực hiện.</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="inputDeliveryName">Hình thức vận chuyển *</label> <input
									type="text" class="form-control" id="inputDeliveryName"
									placeholder="Nhập tên hình thức vận chuyển">
							</div>
							<div class="form-group">
								<label for="inputDeliveryFee">Phí vận chuyện *</label> <input
									type="number" class="form-control" id="inputDeliveryFee"
									min="0">
							</div>
							<div class="form-group">
								<label for="inputDeliveryTime">Thời gian dự kiến *</label> <input
									type="text" class="form-control" id="inputDeliveryTime"
									placeholder="Thời gian dự kiến">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" type="button"
								data-dismiss="modal">Hủy bỏ</button>
							<button class="btn btn-primary" type="submit">Thực hiện</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>