<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{layout/_adminbase}">
<body id="page-top">
	<div class="container-fluid" layout:fragment="content">
		<div class="row">
			<div class="container-fluid">
				<!-- DataTales Example -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary"></h6>
					</div>
					<div class="card-body">
						<form class="container" th:action="@{/admin-khuyen-mai-edit}"
							th:object="${discount}" method="post">
							<input type="hidden" value="1">
							<div class="card-body"></div>
							<div class="card-body">
								<input type="hidden" th:field="*{id}">
								<div class="form-group">
									<label for="inputDiscountName">Thông tin khuyến mãi *</label> <input
										type="text" class="form-control" id="inputDiscountName"
										placeholder="Nhập thông tin..." th:field="*{name}">
									<span
										class="text-danger small" th:if="${#fields.hasErrors('name')}"
										th:errors="*{name}"></span>
								</div>
								<div class="form-group">
									<label for="inputDiscount">Discount *</label> <input
										type="number" class="form-control"
										id="inputDiscount" th:field="*{discount}">
									<span
										class="text-danger small" th:if="${#fields.hasErrors('discount')}"
										th:errors="*{discount}"></span>
								</div>
								<div class="form-group">
									<label for="inputQuantity">Số lượng *</label> <input
										type="number" class="form-control"
										id="inputDiscount" th:field="*{quantity}">
									<span
										class="text-danger small" th:if="${#fields.hasErrors('quantity')}"
										th:errors="*{quantity}"></span>
								</div>
								<div class="form-group">
									<label for="inputDiscountTime">MaxTime *</label> <input
										type="number" min="0" class="form-control"
										id="inputDiscountTime" th:field="*{time}">
									<span
										class="text-danger small" th:if="${#fields.hasErrors('time')}"
										th:errors="*{time}"></span>
								</div>
								<div class="form-group">
									<label for="inputDiscountProduct">Sản phẩm áp dụng *</label> <select
										id="inputDiscountProduct" class="form-control" th:field="*{product}">
										<option th:each="i : ${products}" th:value="${i.id}"
											th:text="${i.product_name}">Option 1</option>
									</select>
									<span
										class="text-danger small" th:if="${#fields.hasErrors('product')}"
										th:errors="*{product}"></span>
								</div>
							</div>
							<div class="card-body">
								<a class="btn btn-secondary" th:href="@{/admin-khuyen-mai}"
									data-dismiss="modal">Hủy bỏ</a>
								<button class="btn btn-primary" type="submit">Thực hiện</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>